body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden; 
}
.bg {
	background-image: url("https://i.imgur.com/PzZHu7t.jpg");
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.aboutcard {
	margin: 0;
	padding: 0% 20%;
}

.aboutpadding {
	margin: 0;
	padding: 0% 5%;
}

.background-green {
  background-color: #90EE90;
}

.background-pink {
  background-color: #FFB6C1;
}

.my_fullscreen_div {
    width: 100vw;
    height: 100vh;
}

.background-blue{
	background-color: #ADD8E6;
	min-height: 100vh;
}

.borderdiv {;
    border:1px solid black;
    }



body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
